[Defaults]
url=https://uac.gmu.edu/dana-na/auth/url_0/welcome.cgi?p=failed
url_wireless=https://uacwireless.gmu.edu/dana-na/auth/url_0/welcome.cgi?p=failed
useragent=Windows Mozilla
success=You have successfully logged in
success_wireless=You have gained full access to the network
timeout: 4
wait: 2400
username=username
password=********
