*~
*.swp

/config/chromium/
/config/dconf/
/config/enchant/
/config/evince/
/config/google-googletalkplugin/
/config/gtk-2.0/
/config/gtk-3.0/
/config/htop/
/config/inkscape/
/config/libfm/
/config/libreoffice/
/config/LyX/
/config/pithos.ini
/config/pulse/
/config/Skype/
/config/Trolltech/
/config/Trolltech.conf
/config/vlc/
