-- vim: tw=0 syntax=lua

conky.config = {
	-- positioning
  alignment = 'top_left',
	background = true,
  gap_x = 40,
  gap_y = 60,
  minimum_height = 5,
	minimum_width = 500,

	-- font
  use_xft = true,
  font = 'Source Sans Pro:size=12',

	-- update
  update_interval = 1.0,
	double_buffer = true,

	-- window
  own_window = true,
  own_window_class = 'Conky',
  own_window_type = 'override',
  own_window_transparent = false,
	own_window_colour = '2d2d2d',
	own_window_argb_visual = true,
	own_window_argb_value = 100,

	-- drawing
  border_width = 0,
  draw_shades = false,
  draw_outline = false,
  draw_borders = false,
  draw_graph_borders = true,
  stippled_borders = 0,

	-- colors
	default_color = 'white',
  default_outline_color = 'white',
  default_shade_color = 'white',


	-- sampling
  cpu_avg_samples = 2,
  net_avg_samples = 2,

	-- text output
  out_to_console = false,
  out_to_stderr = false,

	-- miscellaneous
  no_buffers = true,
  extra_newline = false,
  uppercase = false,
  use_spacer = 'none',
  show_graph_scale = false,
  show_graph_range = false
}

conky.text = [[
GitHub
$hr
${rss https://github.com/jrouly.private.atom?token=AE9SjA0OxqrBd54sKvopSHY1Q9pSgC5qks60o6PqwA== 2 item_title 1}
${rss https://github.com/jrouly.private.atom?token=AE9SjA0OxqrBd54sKvopSHY1Q9pSgC5qks60o6PqwA== 2 item_title 2}
${rss https://github.com/jrouly.private.atom?token=AE9SjA0OxqrBd54sKvopSHY1Q9pSgC5qks60o6PqwA== 2 item_title 3}
]]
