-- vim: tw=0 syntax=lua

conky.config = {
  -- positioning
  alignment = 'bottom_right',
  background = true,
  -- gap_x = 4,
  gap_x = 1924,
  gap_y = 4,
  minimum_height = 5,
  minimum_width = 1911,

  -- font
  use_xft = true,
  font = 'Source Sans Pro:size=8',

  -- update
  update_interval = 1.0,
  double_buffer = true,

  -- window
  own_window = true,
  own_window_class = 'Conky',
  own_window_type = 'override',
  own_window_transparent = false,
  own_window_colour = '2d2d2d',

  -- drawing
  border_width = 0,
  draw_shades = false,
  draw_outline = false,
  draw_borders = false,
  draw_graph_borders = true,
  stippled_borders = 0,

  -- colors
  default_color = 'white',
  default_outline_color = 'white',
  default_shade_color = 'white',


  -- sampling
  cpu_avg_samples = 2,
  net_avg_samples = 2,

  -- text output
  out_to_console = false,
  out_to_stderr = false,

  -- miscellaneous
  no_buffers = true,
  extra_newline = false,
  uppercase = false,
  use_spacer = 'none',
  show_graph_scale = false,
  show_graph_range = false
}

conky.text = [[
${color grey}root $color${fs_used /}  ${voffset 1}${fs_bar 6,50 /}${voffset -1}${offset 10}\
${color grey}home $color${fs_used /home}  ${voffset 1}${fs_bar 6,50 /home}${voffset -1}${offset 10}\
${color grey}data $color${fs_used /data}  ${voffset 1}${fs_bar 6,50 /data}${voffset -1}${offset 5}\
${color d64937} •  \
${color grey}Wired: $color${addr enp0s25} ${color d64937} •  \
${color grey}Up:$color ${upspeed enp0s25}${goto 530}\
${color grey}Down:$color ${downspeed enp0s25}${goto 600}\
]]
